USERAGENT=
COOKIE=
BACKEND_IMAGE=
BROWSER_IMAGE=
GEMINI_API_KEY=
GOOGLE_GEMINI_BASE_URL=
GEMINI_MODEL=
ANTHROPIC_BASE_URL=
ANTHROPIC_AUTH_TOKEN=
ANTHROPIC_MODEL=
ANTHROPIC_DEFAULT_OPUS_MODEL=
ANTHROPIC_DEFAULT_SONNET_MODEL=
ANTHROPIC_DEFAULT_HAIKU_MODEL=
CLAUDE_CODE_SUBAGENT_MODEL=
CLAUDE_CODE_EFFORT_LEVEL=